body {
  background-color: #F8F8F8 !important;
}

h1, tr, .title {
  font-size: 25px;
  font-family: "Josefin Sans";
  font-weight: bold;
}

.content {
  font-size: 15px;
  font-family: "Titillium Web";
  font-weight: lighter;
}
